@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body{
  background-color: #f3f0f0;
}

.shadow-large{
  box-shadow: 0rem 0rem 1.2rem rgba(18,18,18,0.8);
}
.shadow-medium{
  box-shadow: 0rem 0rem 0.6rem rgba(18,18,18,0.6);
}
.shadow-small{
  box-shadow: 0rem 0rem 0.4rem rgba(18,18,18,0.6);
}
.flex-col-center{
  @apply flex flex-col justify-center items-center text-center
}

.card-width {
  width: 60vw; 

  @media(max-width: 1024px) {
    width: 90%; 
    height: auto;
  }
}